@media (max-width: 575.98px) {
    .modalResponsive .modal-dialog {
      margin: 10px;
      max-width: 65%; 
      left: 5%;
      right: 5%;
      
    }
  }
  

  @media (min-width: 576px) {
    .modalResponsive .modal-dialog {
      max-width: 800px;
      margin: 30px ;
      
    }
  }

  @media (min-width: 872px) {
    .modalResponsive .modal-dialog {
        max-width: 600px;
        left: 10%;
    }
}

@media (min-width: 1200px) {
    .modalResponsive .modal-dialog {
        left: 25%;
    }
}
